PhongHopKhongGiay/Service References/PhongHopKhongGiayService/PhongHopKhongGiayService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8091/PhongHopKhongGiay/PhongHopKhongGiayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhongHopKhongGiay.SRV.Entities" />
  <xs:element name="Load_DanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Table" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_DanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PhongHopKhongGiay.SRV.Entities" minOccurs="0" name="Load_DanhMucResult" nillable="true" type="q1:ArrayOfDANHMUC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_USER_GetAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_USER_GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_USER_GetAllUsersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ThanhPhanChuanBi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Table" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ThanhPhanChuanBiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PhongHopKhongGiay.SRV.Entities" minOccurs="0" name="Load_ThanhPhanChuanBiResult" nillable="true" type="q2:ArrayOfTHANHPHANCHUANBI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_DanhSachTaiLieuCuocHopByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="DoiTuongXemID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_DanhSachTaiLieuCuocHopByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_Load_DanhSachTaiLieuCuocHopByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_DanhSachTaiLieuByTempID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDTemp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_DanhSachTaiLieuByTempIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_DanhSachTaiLieuByTempIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CN_TAILIEU_UpdateLichHopIDByIDTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="IDTemp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CN_TAILIEU_UpdateLichHopIDByIDTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CN_TAILIEU_UpdateLichHopIDByIDTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CN_TAILIEU_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonTaiLieu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CN_TAILIEU_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CN_TAILIEU_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUCUOCHOP_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonTaiLieu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUCUOCHOP_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_TAILIEUCUOCHOP_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LichHop_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DoiTuongNhacLichHopID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JsonThanhPhan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JsonChuanBi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LichHop_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LichHop_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_ChuyenDuyet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_ChuyenDuyetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_ChuyenDuyetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CN_Load_DanhSachTaiLieuByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CN_Load_DanhSachTaiLieuByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CN_Load_DanhSachTaiLieuByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadLichHopByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadLichHopByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadLichHopByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_ScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_Load_ScheduleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_Schedule_CaNhan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_Schedule_CaNhanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_Load_Schedule_CaNhanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_DanhSach_Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_DanhSach_ScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_Load_DanhSach_ScheduleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_ChuongTrinhHop_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_ChuongTrinhHop_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_ChuongTrinhHop_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_BieuQuyet_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_BieuQuyet_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_BieuQuyet_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DM_DANHMUC_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TenStore" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DM_DANHMUC_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DM_DANHMUC_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadBieuQuyetByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadBieuQuyetByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadBieuQuyetByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateTinhTrangByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangByChuoiLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangByChuoiLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateTinhTrangByChuoiLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangBatDauHoacKetThucLichHop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangBatDauHoacKetThucLichHopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateTinhTrangBatDauHoacKetThucLichHopResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangPhatHanhByTaiLieuKetLuanID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangPhatHanhByTaiLieuKetLuanIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateTinhTrangPhatHanhByTaiLieuKetLuanIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTimeDragAndDropSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTimeDragAndDropScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateTimeDragAndDropScheduleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateShowShowKiosk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateShowShowKioskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateShowShowKioskResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadDataTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadDataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadDataTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_CheckTrungLichHopByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_CheckTrungLichHopByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_CheckTrungLichHopByUserIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetPhongBanSuDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetPhongBanSuDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GetPhongBanSuDungResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetNguoiChuTriDangDieuHanhCuocHop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetNguoiChuTriDangDieuHanhCuocHopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GetNguoiChuTriDangDieuHanhCuocHopResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadChuongTrinhHopByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadChuongTrinhHopByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadChuongTrinhHopByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_THAOLUAN_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_THAOLUAN_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_THAOLUAN_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadThaoLuanByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadThaoLuanByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadThaoLuanByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GIAYMOIHOP_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GIAYMOIHOP_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GIAYMOIHOP_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadGiayMoiHopByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadGiayMoiHopByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadGiayMoiHopByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetEmailThanhPhanThamDuTheoThoiGian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetEmailThanhPhanThamDuTheoThoiGianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GetEmailThanhPhanThamDuTheoThoiGianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_PhatHanh_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_PhatHanh_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_PhatHanh_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadPhatHanhByThoiGian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadPhatHanhByThoiGianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadPhatHanhByThoiGianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadNoiDungInAnTheoThoiGian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadNoiDungInAnTheoThoiGianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadNoiDungInAnTheoThoiGianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetLichHopIDTheoThoiGian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetLichHopIDTheoThoiGianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GetLichHopIDTheoThoiGianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_PhatHanhLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_PhatHanhLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_PhatHanhLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadPhatHanhLichSuTheoThoiGian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadPhatHanhLichSuTheoThoiGianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadPhatHanhLichSuTheoThoiGianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_PhatHanhTrucTiep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_PhatHanhTrucTiepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_PhatHanhTrucTiepResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_BAOVANG_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="LyDoID" type="xs:int" />
        <xs:element minOccurs="0" name="NoiDungLyDo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_BAOVANG_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile_LH_LICHHOP_BAOVANG_UpdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_XUNGDOT_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="LyDoID" type="xs:int" />
        <xs:element minOccurs="0" name="NoiDungLyDo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_XUNGDOT_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile_LH_LICHHOP_XUNGDOT_UpdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_CHAPNHAN_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_CHAPNHAN_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile_LH_LICHHOP_CHAPNHAN_UpdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_TUCHOIHOP_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="LyDoID" type="xs:int" />
        <xs:element minOccurs="0" name="NoiDungLyDo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_TUCHOIHOP_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile_LH_LICHHOP_TUCHOIHOP_UpdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_BIEUQUYET_KETQUA_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="BieuQuyetID" type="xs:int" />
        <xs:element minOccurs="0" name="DongY" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_BIEUQUYET_KETQUA_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile_LH_BIEUQUYET_KETQUA_InsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_BIEUQUYET_GetByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_BIEUQUYET_GetByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_BIEUQUYET_GetByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CN_Load_DanhSachTaiLieuByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="LichHopID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CN_Load_DanhSachTaiLieuByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CN_Load_DanhSachTaiLieuByUserIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_CN_TAILIEU_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="TaiLieuCuocHopID" type="xs:int" />
        <xs:element minOccurs="0" name="LichHopID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_CN_TAILIEU_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile_CN_TAILIEU_InsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_CN_TAILIEU_CHIASE_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NguoiChiaSeID" type="xs:int" />
        <xs:element minOccurs="0" name="NguoiNhanChiaSeID" type="xs:int" />
        <xs:element minOccurs="0" name="TaiLieuChiaSeID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_CN_TAILIEU_CHIASE_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile_CN_TAILIEU_CHIASE_InsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangCuocHop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BieuQuyetID" type="xs:int" />
        <xs:element minOccurs="0" name="TinhTrang" type="xs:boolean" />
        <xs:element minOccurs="0" name="DaKetThuc" type="xs:boolean" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTinhTrangCuocHopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateTinhTrangCuocHopResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadDangKyPhatBieuTheoLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadDangKyPhatBieuTheoLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadDangKyPhatBieuTheoLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DANGKYPHATBIEU_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DANGKYPHATBIEU_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_DANGKYPHATBIEU_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateDoUuTienDangKyPhatBieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChuoiDangKyPhatBieuID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateDoUuTienDangKyPhatBieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateDoUuTienDangKyPhatBieuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UPDATE_THOIGIAN_DANGKYPHATBIEU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UPDATE_THOIGIAN_DANGKYPHATBIEUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UPDATE_THOIGIAN_DANGKYPHATBIEUResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadBienBanHopByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadBienBanHopByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadBienBanHopByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_BIENBANHOP_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_BIENBANHOP_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_BIENBANHOP_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GiaoViec_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GiaoViec_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GiaoViec_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GiaoViec_UpdateChiTietGiaoViec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GiaoViec_UpdateChiTietGiaoViecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GiaoViec_UpdateChiTietGiaoViecResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadGiaoViecTheoLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadGiaoViecTheoLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadGiaoViecTheoLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_NOIDUNG_IN_AN_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_NOIDUNG_IN_AN_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_NOIDUNG_IN_AN_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TRIGGER_SIGNALR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TRIGGER_SIGNALRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_TRIGGER_SIGNALRResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_InLichHopTheoTuan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_InLichHopTheoTuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_InLichHopTheoTuanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadChiTietBieuQuyetKetQuaTheoBieuQuyetID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BieuQuyetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadChiTietBieuQuyetKetQuaTheoBieuQuyetIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadChiTietBieuQuyetKetQuaTheoBieuQuyetIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_InKetLuanTheoLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_InKetLuanTheoLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_InKetLuanTheoLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_DUYETBAOVANG_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LichHopID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="DuyetBaoVang" type="xs:boolean" />
        <xs:element minOccurs="0" name="LyDoKhongDuyet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile_LH_LICHHOP_DUYETBAOVANG_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile_LH_LICHHOP_DUYETBAOVANG_UpdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUKETLUAN_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUKETLUAN_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_TAILIEUKETLUAN_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_CheckRoleByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_CheckRoleByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_CheckRoleByUserIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUCUOCHOP_COQUANCHUTRI_GetByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUCUOCHOP_COQUANCHUTRI_GetByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_TAILIEUCUOCHOP_COQUANCHUTRI_GetByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUCUOCHOP_NOIDUNG_GetByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUCUOCHOP_NOIDUNG_GetByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_TAILIEUCUOCHOP_NOIDUNG_GetByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUCUOCHOP_FILETAILIEU_GetByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUCUOCHOP_FILETAILIEU_GetByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_TAILIEUCUOCHOP_FILETAILIEU_GetByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadYeuCauHoTroByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadYeuCauHoTroByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadYeuCauHoTroByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_YeuCauHoTro_XuLyYeuCau_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_YeuCauHoTro_XuLyYeuCau_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_YeuCauHoTro_XuLyYeuCau_UpdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_YeuCauHoTro_Del">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_YeuCauHoTro_DelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_YeuCauHoTro_DelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadLayYKienPhongHopByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_LoadLayYKienPhongHopByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_LoadLayYKienPhongHopByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DanhSachNguoiNhanThongBao_ByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DanhSachNguoiNhanThongBao_ByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_DanhSachNguoiNhanThongBao_ByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetDSThongKeCuocHop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetDSThongKeCuocHopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GetDSThongKeCuocHopResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_DanhSachChiTietThongKeCuocHop_ByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_DanhSachChiTietThongKeCuocHop_ByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_Load_DanhSachChiTietThongKeCuocHop_ByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DanhSachNguoiNhanThongBaoPhatHanh_ByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DanhSachNguoiNhanThongBaoPhatHanh_ByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_DanhSachNguoiNhanThongBaoPhatHanh_ByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DanhSachNguoiNhanThongBaoSuaLichHop_ByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJsonLichHop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DanhSachNguoiNhanThongBaoSuaLichHop_ByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_DanhSachNguoiNhanThongBaoSuaLichHop_ByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DanhSachNguoiNhanThongBaoPhatBieu_ByLichHopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DanhSachNguoiNhanThongBaoPhatBieu_ByLichHopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_DanhSachNguoiNhanThongBaoPhatBieu_ByLichHopIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them_LHThuMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them_LHThuMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Them_LHThuMucResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_LHThuMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_LHThuMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_LHThuMucResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_LHThuMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_LHThuMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_LHThuMucResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ListThuMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ListThuMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_ListThuMucResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetDSTaiLieuKhac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetDSTaiLieuKhacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GetDSTaiLieuKhacResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetDSTaiLieuKhacV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetDSTaiLieuKhacV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GetDSTaiLieuKhacV2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ListTenTaiLieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ListTenTaiLieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_ListTenTaiLieuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUKHACV2_InsUpDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_TAILIEUKHACV2_InsUpDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_TAILIEUKHACV2_InsUpDelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_ThemTaiLieuKhac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_ThemTaiLieuKhacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_ThemTaiLieuKhacResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateFileTaiLieuKhac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateFileTaiLieuKhacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateFileTaiLieuKhacResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTaiLieuKhac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateTaiLieuKhacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateTaiLieuKhacResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DeleteTaiLieuKhac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DeleteTaiLieuKhacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_DeleteTaiLieuKhacResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetDSBieuQuyetTuDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_GetDSBieuQuyetTuDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_GetDSBieuQuyetTuDoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_DanhSachChiTietBieuQuyetTuDo_ByBieuQuyetID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_Load_DanhSachChiTietBieuQuyetTuDo_ByBieuQuyetIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_Load_DanhSachChiTietBieuQuyetTuDo_ByBieuQuyetIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_ThemBieuQuyetTuDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_ThemBieuQuyetTuDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_ThemBieuQuyetTuDoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateBieuQuyetTuDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_UpdateBieuQuyetTuDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_UpdateBieuQuyetTuDoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DeleteBieuQuyetTuDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_DeleteBieuQuyetTuDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_DeleteBieuQuyetTuDoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_CheckThoiGianChuongTrinhHop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LH_CheckThoiGianChuongTrinhHopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LH_CheckThoiGianChuongTrinhHopResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>