PhongHopKhongGiay/Service References/MasterService/MasterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DungChung.Entities.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DungChung.Entities.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9092/DungChung/MasterService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DungChung.Entities" />
  <xs:import schemaLocation="http://localhost:9092/DungChung/MasterService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DungChung.Entities.OrmLiteDomain.HanhChinh" />
  <xs:complexType name="ArrayOfDonViNganhModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DonViNganhModel" nillable="true" type="tns:DonViNganhModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonViNganhModel" nillable="true" type="tns:ArrayOfDonViNganhModel" />
  <xs:complexType name="DonViNganhModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonViId" type="xs:long" />
      <xs:element minOccurs="0" name="MaNganh" type="xs:int" />
      <xs:element minOccurs="0" name="TenDonVi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenNganh" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonViNganhModel" nillable="true" type="tns:DonViNganhModel" />
  <xs:complexType name="GetThongTinHeThongResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DungChung.Entities" minOccurs="0" name="DsDonViHeThong" nillable="true" type="q1:ArrayOfDONVI_HETHONG" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DungChung.Entities" minOccurs="0" name="DsLinhVuc" nillable="true" type="q2:ArrayOfHETHONG_LINHVUC" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DungChung.Entities" minOccurs="0" name="DsRoleGroup" nillable="true" type="q3:ArrayOfHETHONG_ROLEGROUP" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DungChung.Entities.OrmLiteDomain.HanhChinh" minOccurs="0" name="HcChucnang" nillable="true" type="q4:HC_CHUCNANG" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DungChung.Entities" minOccurs="0" name="HeThong" nillable="true" type="q5:DM_HETHONG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetThongTinHeThongResponse" nillable="true" type="tns:GetThongTinHeThongResponse" />
  <xs:complexType name="InsertOrUpdHeThongRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateNewRoleAndGroup" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DungChung.Entities" minOccurs="0" name="DsDonViHeThong" nillable="true" type="q6:ArrayOfDONVI_HETHONG" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DungChung.Entities" minOccurs="0" name="DsLinhVuc" nillable="true" type="q7:ArrayOfHETHONG_LINHVUC" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DungChung.Entities" minOccurs="0" name="DsRoleGroup" nillable="true" type="q8:ArrayOfHETHONG_ROLEGROUP" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DungChung.Entities.OrmLiteDomain.HanhChinh" minOccurs="0" name="HcChucNang" nillable="true" type="q9:HC_CHUCNANG" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DungChung.Entities" minOccurs="0" name="HeThong" nillable="true" type="q10:DM_HETHONG" />
      <xs:element minOccurs="0" name="PortalId" type="xs:int" />
      <xs:element minOccurs="0" name="UserRequest" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertOrUpdHeThongRequest" nillable="true" type="tns:InsertOrUpdHeThongRequest" />
</xs:schema>