PhongHopKhongGiay/Service References/MasterService/MasterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DungChung.Entities.OrmLiteDomain.HanhChinh" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DungChung.Entities.OrmLiteDomain.HanhChinh" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HC_CHUCNANG">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChucNangID" type="xs:long" />
      <xs:element minOccurs="0" name="DuongDanChucNang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeThongID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TenChucNang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThuTu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Used" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ViTri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HC_CHUCNANG" nillable="true" type="tns:HC_CHUCNANG" />
</xs:schema>