PhongHopKhongGiay/Service References/MasterService/MasterService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DungChung.Entities.OrmLiteDomain.Master" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DungChung.Entities.OrmLiteDomain.Master" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDM_DONVI_NGANH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_DONVI_NGANH" nillable="true" type="tns:DM_DONVI_NGANH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_DONVI_NGANH" nillable="true" type="tns:ArrayOfDM_DONVI_NGANH" />
  <xs:complexType name="DM_DONVI_NGANH">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonViId" type="xs:long" />
      <xs:element minOccurs="0" name="DonViNganhCapCha" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaNganh" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DM_DONVI_NGANH" nillable="true" type="tns:DM_DONVI_NGANH" />
</xs:schema>